
{{!-- Bienvenida al usuario --}}
<div style="display:flex;">
  <h1 class="mx-4">
  Bienvenido {{user}}
</h1>
<button class="btn btn-primary mx-4" onclick = window.location.href='/logout';>Desloguearse</button>
<button onclick="location.href='/datos';" class="btn btn-primary mx-4"> <== ir al catalogo</button>
</div>
<div class="card mx-4" style="width: 18rem;">
  <img src={{picture}} class="card-img-top" alt="...">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: {{user}}</li>
    <li class="list-group-item">Nombre: {{name}}</li>
    <li class="list-group-item">Edad: {{age}}</li>
    <li class="list-group-item">Direccion: {{dir}}</li>
    <li class="list-group-item">Telefono: {{phone}}</li>
  </ul>
</div>
<h1 class="mt-5 mx-4">Productos en tu carrito</h1>
<table class="table table-striped mx-4 mt-3">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">illustracion</th>
    </tr>
  </thead>
  <tbody id="tablaProductos">
</table>


<button class="btn btn-primary mx-4" onclick = window.location.href='/checkout';>Enviar pedido</button>


<script src="mainUserInfo.js"></script>